<h2>Create a New Account</h2>
<form action="/signup" method="POST">
  <input type="text" name="name" id="name" placeholder="Full Name" required>
  <br>
  <input type="text" name="email" id="email" placeholder="Email" required>
  <br>
  <input type="password" id="password" name="password" placeholder="Password" required>
  <br>
  <textarea name="bio" id="bio" rows="4" cols="16" placeholder="Short Bio" required></textarea>
  <br>
  <input type="text" name="agent[name]" id="agent" placeholder="Agent Name">
  <br>
  <input type="text" name="headshot[name]" id="headshot" placeholder="Add a headshot">
  <br>
  <input type="submit" value="Create Account">
</form>