<h2>Actor Login</h2>
<form action="/actor-login" method="POST">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
<button type="submit">Log In</button>
</form>
<br>
<a href="/actor-signup">First time? Create your account here.</a>