<h1>Actor Directory</h1>
<% @actors.each do |actor| %>
<% if actor.headshots.count > 0 %>
<div class="headshots">
<img src=<%=actor.headshots.first.path%> width="170" height="170">
<a href="/actor/<%= actor.slug %>"><%= actor.name %></a>
</div>
<% end %>
<% end %>
